[Unit]
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/PATH/TO/import.py --auto-connect nl

[Install]
WantedBy=multi-user.target
